.two-col {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:18px
}
.full-field {
    grid-column:1/-1
}
.two-col>.btn {
    width:max-content
}
@media(max-width:650px) {
    .two-col {
        grid-template-columns:1fr
    }
    .full-field {
        grid-column:auto
    }
}
